.homeTitle p{
	margin-top: 0;
	padding-top: 18px;
	padding-left: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}
.homeButton{
	text-decoration: none!important;
}
.homePaper{
	height: 64px;
	width: 100%;
	border-radius: 0!important;
}